{% extends 'base.html' %}
{% block navbar %}
<nav class="navbar navbar-expand-sm navbar-light" style="background-color: rgb(255, 225, 94);">
    <a class="navbar-brand">Shopping List</a>

    <button class="navbar-toggler ml-auto" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-expanded="navbarNavDropdown" aria-controls="false">

        <span class="navbar-toggler-icon"></span></button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a href="{{ url_for('register') }}" class="nav-link">Register</a>
            </li>
            <li class="nav-item active">
                <a href="{{ url_for('signin') }}" class="nav-link">Login</a>
            </li>
        </ul>
    </div>
</nav>
{% endblock %}

{% block content %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <form action="{{ url_for('updateListName', list_id=listName._id) }}">
                    <div class="row">
                        <div class="col-12">
                            <input type="text" id="itemName" name="itemName" value="{{ listName.listName }}" placeholder="Change the Name of the Shopping-List" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 text-center">
                            <button class="btn btns" type="submit">Done</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}