{% extends 'base.html' %}
{% block title %}
<title>Edit Item</title>
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-expand-sm navbar-light" style="background-color: rgb(255, 225, 94);">
    <a href="{{ url_for('index') }}" class="navbar-brand">Shopping List</a>

    <button class="navbar-toggler ml-auto" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-expanded="navbarNavDropdown" aria-controls="false">

        <span class="navbar-toggler-icon"></span></button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a href="{{ url_for('index') }}" class="nav-link">Homepage</a>
            </li>
            <li class="nav-item active">
                <a href="{{ url_for('shoppingList') }}" class="nav-link">Shopping-List</a>
            </li>
            <li class="nav-item">
                <a href="{{ url_for('logout') }}" class="nav-link">Logout</a>
            </li>
        </ul>
    </div>
</nav>
{% endblock %}

{% block content %}
<section class="edit-pages-section">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center edit-pages-head-paddings">
                <h1>Edit List Item</h1>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <form action="{{ url_for('updateItemName', item_id=itemName._id) }}" method="POST"
                    class="col-12 task-box text-center">
                    <div class="form-groups form-positioning">
                        <label for="">Product</label>
                        <input type="text" class="form-control" value="{{itemName.itName}}" id="itemName" name="itName"
                            placeholder="Item Name">
                    </div>
                    <div class="form-groups">
                        <label for="">Quantity</label>
                        <input type="text" class="form-control" value="{{itemName.amount}}" id="amount" name="amount" placeholder="Amount">
                    </div>

                    <button class="btn btn-block btns" type="submit" name="action">Done
                        <i class="fa fa-check" aria-hidden="true"></i>
                    </button>

                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}