{% extends 'base.html' %}
{% block navbar %}
<nav class="navbar navbar-expand-sm navbar-light"  style="background-color: rgb(255, 208, 0);">
    <a class="navbar-brand">Shopping List</a>

    <button class="navbar-toggler ml-auto" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-expanded="navbarNavDropdown" aria-controls="false">

        <span class="navbar-toggler-icon"></span></button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a href="{{ url_for('index') }}" class="nav-link">Homepage</a>
            </li>
            <li class="nav-item">
                <a href="{{ url_for('shoppingList', email_id=accounts._id) }}" class="nav-link">Shopping-List</a>
            </li>
            <li class="nav-item">
                <a href="{{ url_for('logout') }}" class="nav-link">Logout</a>
            </li>
        </ul>
    </div>
</nav>
{% endblock %}

{% block content %}
<section class="banner">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center head-padding-bottom">
                <h1>Welcome to Your Online Shopping-List!</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12 banner-btn-place">
                <a href="{{ url_for('shoppingList', email_id=accounts._id) }}" class="banner-anchor-position btn-no-underline">
                    <button class="btn btns">
                        <p class="btn-text-style">Go to Your Shopping-List <span class="btn-arrow"><i class="fa fa-arrow-right"></i></span></p>
                    </button>
                </a>
            </div>
        </div>
    </div>
</section>
{% endblock %}