{% extends 'base.html' %} 
{% block navbar %}
<nav class="navbar navbar-expand-sm navbar-light bg-info">
    <a class="navbar-brand">Shopping List</a>

    <button class="navbar-toggler ml-auto" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-expanded="navbarNavDropdown" aria-controls="false">

        <span class="navbar-toggler-icon"></span></button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a href="register.html" class="nav-link">Register</a>
            </li>
        </ul>
    </div>
</nav>
{% endblock %}
