{% extends 'base.html' %}
{% block title %}
<title>Registration Page</title>
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-expand-sm navbar-light navbar-colour">
    <a class="navbar-brand">Shopping List</a>

    <button class="navbar-toggler ml-auto" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-expanded="navbarNavDropdown" aria-controls="false">

        <span class="navbar-toggler-icon"></span></button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a href="{{ url_for('index') }}" class="nav-link">Login</a>
            </li>
        </ul>
    </div>
</nav>
{% endblock %}

{% block content %}
<section class="edit-pages-section">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center edit-pages-head-paddings">
                <h1>Register</h1>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <form action="{{ url_for('register') }}" method="POST">
                    <!-- the form-group class adds fitting margins-->
                    <div class="form-group">
                        <label for="">Google Account</label>
                        <!-- the form-control class is used to style the text-box -->
                        <!-- Learn about the Gmail pattern here: https://stackoverflow.com/questions/57344101/how-would-i-make-the-html5-input-to-accept-only-email-addresses-from-gmail-com-u -->
                        <input type="email" name="email-address" class="form-control" pattern="^[a-zA-Z0-9]+@gmail\.com$" placeholder="Email Address" required>
                    </div>
                    <div class="form-groups">
                        <label for="">Password</label>
                        <input type="password" name="pass" class="form-control" placeholder="Password" required>
                    </div>
                    <button type="submit" class="btn btn-block btns">Register Now!</button>
                </form>
                <div class="text-center">
                    <a href="{{ url_for('login') }}">Login Here Now!</a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}