{% extends 'base.html' %}

{% block navbar %}
<nav class="navbar navbar-expand-sm navbar-light" style="background-color: rgb(255, 225, 94);">
    <a href="{{ url_for('index') }}" class="navbar-brand">Shopping List</a>

    <button class="navbar-toggler ml-auto" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-expanded="navbarNavDropdown" aria-controls="false">

        <span class="navbar-toggler-icon"></span></button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a href="{{ url_for('index') }}" class="nav-link">Homepage</a>
            </li>
            <li class="nav-item active">
                <a href="{{ url_for('shoppingList') }}" class="nav-link">Shopping-List</a>
            </li>
            <li class="nav-item">
                <a href="{{ url_for('logout') }}" class="nav-link">Logout</a>
            </li>
        </ul>
    </div>
</nav>
{% endblock %}

{% block content %}
<section class="page-padding-top">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center head-padding-bottom">
                <h1>Shopping List</h1>
            </div>
        </div>
    </div>
</section>

<section class="page-padding-bottom">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="item-bground-purple">
                    <div class="shopping-list-item text-center">
                        <div class="row">
                            <div class="col-4">
                                <h5 class="no-margin">Item Name</h5>
                            </div>
                            <div class="col-4">
                                <h5 class="no-margin">Amount</h5>
                            </div>
                            <div class="col-4">
                                <h5>Edits</h5>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="shopping-list">
                    {% for item in itemName %}
                    {% if loop.index % 2 == 0 %}
                    <div class="item-bground-purple">
                        <div class="shopping-list-item">
                            <div class="row">
                                <div class="col-4">
                                    <p class="no-margin">{{ item.itName }}</p>
                                </div>
                                <div class="col-4">
                                    <p class="no-margin">{{ item.amount }}</p>
                                </div>
                                <div class="col-4">
                                    <a href="{{ url_for('editItem', item_id=item._id) }}">Edit Item</a>
                                    <a href="{{ url_for('deleteItem', item_id=item._id) }}">Delete Item</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    {% else %}
                    <div class="item-bground-white">
                        <div class="shopping-list-item">
                            <div class="row">
                                <div class="col-4">
                                    <p class="no-margin">{{ item.itName }}</p>
                                </div>
                                <div class="col-4">
                                    <p class="no-margin">{{ item.amount }}</p>
                                </div>
                                <div class="col-4">
                                    <a href="{{ url_for('editItem', item_id=item._id) }}">Edit Item</a>
                                    <a href="{{ url_for('deleteItem', item_id=item._id) }}">Delete Item</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    
                    {% endfor %}

                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <a href="{{ url_for('addItem') }}">
                                    <p>Add New Item</p>
                                </a>
                                <a href="{{ url_for('deleteList') }}">
                                    <button class="btn btn-danger" type="submit">Delete Entire Shopping-List</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}