/* Homepage */
.banner {
    width: 100%;
    height: 100vh;
    color: #fff;
    background-image: linear-gradient(to right, rgba(0, 17, 54, 0.3), rgba(0, 0, 0, 0.2), rgba(0, 17, 54, 0.3)), url('../images/homepage-banner.jpg');
    background-size: cover;
    text-align: center;
    display: flex;
    align-items: center;
}

.banner-anchor-position {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-btn-place {
    display: flex;
    justify-content: center;
}

.btn-no-underline:hover {
    text-decoration: none;
}

.btn-arrow {
    position: relative;
    animation-name: arrow-movement;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes arrow-movement {
    0% {
        left: 0;
    }

    50% {
        left: 7px;
    }

    100% {
        left: 0;
    }
}

/* Shopping-List Page */

.shop-list-pic {
    width: 100%;
    height: 65vh;
    color: #fff;
    background-image: linear-gradient(to right, rgba(0, 17, 54, 0.3), rgba(0, 0, 0, 0.2), rgba(0, 17, 54, 0.3)), url('../images/shopping-list-image.jpg');
    background-size: cover;
    text-align: center;
    display: flex;
    align-items: center;
}

.shopping-pages-section {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.list-page-padding {
    padding: 50px 0;
}

.shopping-list {
    width: 100%;
    height: auto;
    text-align: center;
    padding-bottom: 20px;
}

.shopping-list-item {
    margin: 0;
    padding: 20px 0;
}

.no-margin {
    margin: 0;
}

.item-head-bground-purple {
    color: #fff;
    background-color: rgb(109, 0, 235);
}

.item-bground-purple {
    color: #fff;
    background-color: rgba(109, 0, 235, 0.8);
}

.item-bground-white {
    background-color: #fff;
}

.btns {
    padding: 10px;
    margin: 50px 0;
    border-radius: 5px;
    background-color: rgb(100, 4, 209);
    color: #FFF;
}

.btns:hover {
    background-color: rgb(85, 2, 179);
    text-decoration: none;
}

.add-btn-margin {
    margin-top: 30px;
}

.add-item-btn {
    width: 200px;
    padding: 10px;
    margin: 0;
    border-radius: 5px;
    color: #FFF;
    background-color: rgb(100, 4, 209);
    transition: .5s;
}

.add-item-btn:hover {
    color: #FFF;
    background-color: rgb(85, 2, 179);
    text-decoration: none;
}

.del-btn {
    margin-top: 50px;
}

.white-btn {
    color: #fff;
}

.red-btn {
    color: #ff0000;
}

.white-btn:hover {
    color: #fff;
}

.red-btn:hover {
    color: #ff0000;
}

.btn-text-style {
    margin: 0;
}

.btn-text-style:hover {
    text-decoration: none;
}

.footer {
    text-align: center;
    padding: 50px;
    background-color: rgb(255, 208, 0);
}

/* Editing Pages */
.edit-pages-section {
    width: 100%;
    height: 68vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.edit-pages-head-paddings {
    padding: 20px;
    margin-top: 20px;
}

.edit-pages-btn-margins {
    margin-top: 30px;
}

.form-positioning {
    margin-bottom: 30px;
}

/* Navigation bar */
.navbar-colour {
    background-color: rgb(255, 225, 94);
}

/* Footer */

.footer-items {
    padding: 0;
}

.footer-link {
    text-decoration: none;
    list-style: none;
}

.link-decor {
    color: #000;
}

.link-decor:hover {
    color: #000;
}